img {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: overlay;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  background-image: url('./assets/background-image.gif');
}

/* custom styling for links */
a.sc-bdnxRM {
  color: #7fffd4;
}
a.sc-bdnxRM::after {
  color: #7fffd4;
}
a.sc-bdnxRM:visited {
  color: #7fffd4;
}
a.sc-bdnxRM:hover {
  color: #bbfdff;
}

/* adding some margins to the elements on the About Me Page */
.sc-bCwfaz {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sc-eirqVv {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
